

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}


body{
    margin: 0;
    padding: 0;
    font-family: "OG 르네상스 비밀";
    font-size: 12px;
    color:#333;
}
    

ul,li{
    list-style: none;
}

img{border:0}

a{text-decoration: none;  
      color: black;
       transition: 0.3s;
    }


a:hover{
    color: #ff6b9d;
    text-shadow: 0 0 5px rgba(255,182,193,0.5);
}


h4{
    /*font-family: 'Playfair Display', serif;*/
    letter-spacing: 2px;
    color: #d96a8c;
}

h4::after{
    content:"✧";
    margin-left: 10px;
    font-size: 30px;
    color: #ff9eb5;
}